// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "header";
body{
    font-size:14px;
    .required{
        color:$red;
    }
    .form-group{
        display: flex;
        flex-flow:column;
    }
    .btn{
        border:0;
        background-color:$blue;
        color:white;
        height: 5vh;
        font-size: 14px;
        margin-top:3vh;
    }
    .display-block{
        display:block!important;
    }
    .display-none{
        display: none;
    }
}
